@model TweetCloneWeb.Entities.Person

<div class="container" style="margin:10px 0 10px 0;">
    <ul class="list-unstyled">
        <li>@Model.Tweets.Count Tweets</li>
        <li>@Model.Followers.Count Followers</li>
        <li>@Model.Followings.Count Following</li>
    </ul>
</div>
